{% extends context|add:"/base.html" %}

{% block body %}
<div style="float:left">
<br\>

<h2><img width="75px" height="150px" src="{{auser.profile.pic_url}}"/> {{ auser.username }}

{%if auser != user %}
<div id="followbutton{{auser.pk}}" style="float:right;">
    {% include context|add:"/following.html" %}
</div>
{% endif %}

</h2>
<br\><br\><br\><br\>


<h3>Recommendation from {{ auser.username }} </h3>
<br\>

<table border="1">
    <tr>
        <td>Movie Name </td>
        <td>Comment</td>
    </tr>
    {% for rec in recs %}
    <tr>
        <td>
            <a href="/{{ context }}/detail/{{rec.item.pk}}">{{rec.item.name}}</a>
        </td>
        <td>
            {{ rec.comment }}
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Following Users </h3>
<br\>
<table border="1">
    {% for followee in followees %}
    <tr><td><a href="/{{ context }}/profile/?u={{followee.pk}}"> {{ followee.username }}</a></td></tr> 
    {% endfor %}
</table>
</div>
<div style="margin-left:350px;">
Number of movies : {{ rows|length }}
<table>
{%if auser != user %}
    {% for row in rows %}
    <tr>
        <td>
        <a href="/{{ context }}/detail/{{row.0.pk}}">{{row.0.name}}</a>
        </td>
        <td>
            {{row.1.rating}}
        </td>
    </tr>
    {% endfor %}
{%else%}
    {% for row in rows %}
    <tr id="row{{row.0.pk}}">
        {% include context|add:"/rating.html" %}
    </tr>
    {% endfor %}
{%endif%}
</table>
</div>
{% endblock %}
