{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>En iyi Tavsiye</title>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>



<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-button.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <a class="brand" href="/"><img src="{{STATIC_URL}}img/logo.png"></a>
            <!--<span class="icon-bar"></span>-->
          </a>
          <a class="brand" href="#"></a>
          <div class="nav-collapse">
            <ul class="nav">

              <li class="active"><a href="#">{{user.username}}</a></li>
              <li><a href="/movie/myratings">{% trans "My Ratings" %}</a></li>
              <li><a href="/movie/feed_rec">{% trans "Feed" %}</a></li>
              <li><a href="/movie/get_rec">{% trans "Get Recommendations" %}</a></li>
              <li><a href="/movie/train">{% trans "Train" %}</a></li>
              <li><a href="/logout/">{% trans "Logout" %}</a></li>
              <!--<a href="/movie/myratings">{% trans "My Ratings" %}</a>-->
              <!--<a href="/movie/feed_rec">{% trans "Feed" %}</a>-->
              <!--<a href="/movie/feed_rec">{% trans "Get Recommendations" %}</a>-->
              <!--<a href="/logout/">{% trans "Logout" %}</a>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
        <select name="lang" id="lang" onchange="window.location='/'+$(this).val();">
            <option value="movie/myratings/" selected="selected">movie</option>
            <option value="book/myratings/">book</option>
        </select>
        {% block body %} 
        {% endblock %}
    </div> <!-- /container -->
</body>
</html>

