{% extends "base.html" %}
{% block body %}
<div id="main">
</br>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-button.js"></script>

{% for f in formset %}
<div class="btn-group" data-toggle="buttons-radio">
    <!--{{ f.item_name }}-->
    <a href="/movie/detail/{{f.item_id.value}}">{{f.item_name.value}}</a>
  {{ f.item_id }}
      {%for v in rlist %}
      <input name="rgroup_{{f.item_id.value}}" type=radio onclick="$.get('/movie/rate/?item_id={{f.item_id.value}}&rating={{v}}');" > {{v}} 
      {% endfor %}
</div>
{% endfor %}
</form>
</div>
{% endblock %}


