{% extends "base.html" %}
{% block body %}
</br>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-button.js"></script>

Number of rated movies : {{ ratings|length }}
<table>
{% for f in ratings %}
<tr>
<td>
<a href="/movie/detail/{{f.item.pk}}">{{f.item.name}}</a>
</td>
<td>
<div class="btn-group" data-toggle="buttons-radio">
      {%for v in rlist %}
      <input name="rgroup_{{f.item.pk}}" {%if f.rating == v %}checked{%endif%} type=radio onclick="$.get('/movie/rate/?item_id={{f.item.pk}}&rating={{v}}');" > {{v}} 
      {% endfor %}
</div>
</td>
<td>
        <form method="POST" action="/movie/myratings/">{% csrf_token %}
        <input type="hidden" name="rating_id" value="{{f.pk}}"/ >
        <input type="submit" value="clear" name="submit"/>
      </form>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}


  <!--
  -->
