{% extends context|add:"/base.html" %}
{% load extras %}
{% block body %}
<div style="float:left">
{% for act in actions %}
<p><img width="50" height="50" src="{{act.user.profile.pic_url}}"><span style="margin-left:5px"><a href="/{{ context }}/profile/?u={{act.user_id}}">{{act.user.username}}</a> {{act.stringify|safe}}
<span style="color:#999">{{act.when|dthumanize}}</span></span></p>
{% endfor %}
</div>
{%if fusers %}
<div id="right" style="float:right">
<table>
  {% for u in fusers %}
  <tr><td><img width="30px" height="60px" src="{{u.profile.pic_url}}"/></td><td><a href="/{{ context }}/profile/?u={{u.pk}}">{{u.username}}</a></td>
      <td><div id="followbutton{{u.pk}}"><button onclick="$('#followbutton{{u.pk}}').load('/{{ context }}/follow/?user={{u.pk}}');">Follow</button></div></td></tr>
  {% endfor %}
</table>
</div>
{%endif%}
{% endblock %}
