{% load extras %}
<img width="30px" height="60px" src="{{user.profile.pic_url}}"/>
Yorumunuz basariyla girilmistir.

{% for c in comments %}
<div style="width:80%;">
<div style="float:left;padding-top:0.3cm;"><img width="50" height="50" src="{{c.user.profile.pic_url}}"></div>
<div style="padding-left:1.5cm;">
<hr style="margin-bottom:0.1cm;"/>
    <div style="width:80%">
        <div style="float:left;padding:3px;padding-right:5px;font-size:small;">
            <a href="/{{ context }}/profile/?u={{c.user.id}}">{{c.user.username}}</a> rated it
        </div>
        <div style="zoom:0.8;max-width:240px">
            {% include context|add:"/rating.html" %}
        </div>

        <div style="color:#999;font-size:x-small;float:right">
                {{"2013-04-11 18:53:39"}}
        </div>

        <div style="margin-top:0.2cm;margin-left:0.1cm">
        {{c.comment}}
        </div>
    </div>
</div>
</div>

<!--<div style="padding-left:1.5cm;">-->
<!--<hr style="margin-bottom:0.1cm;"/>-->
    <!--<div style="width:80%">-->
        <!--<div style="float:left;padding:3px;padding-right:5px;font-size:small;">-->
            <!--<a href="/experimental/profile/?u={{c.user.id}}">{{c.user.username}}</a> rated it-->
        <!--</div>-->
        <!--<div style="margin-top:0.2cm;margin-left:0.1cm">-->
        <!--{{c.comment}}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div style="min-height:40px;width:100%;font-size:small;background-color:#D3D9EB;">-->
    <!--<img style="float:left" width="30px" height="60px" src="{{c.user.profile.pic_url}}"/>-->
    <!--<div style="margin-left:1cm;margin-bottom:5px">-->
    <!--{{c.comment}}-->
    <!--</div>-->
<!--</div>-->
{% endfor %}
