{% extends context|add:"/base.html" %}
{% load extras %}
{% block body %}
<div id="feed" style="float:left;max-width:50%;">

<script>
    offset = 0;
    context = "{{ context }}";
    function more(){
        rowstr = "";
        value = $('#more_btn').val();
        $.get('more.html', {offset: value}, function(data) {
            if (data.length == 0){
                $('#more_btn').attr('disabled','');
            }

            for(var i=0; i < data.length; i++){
                e = data[i]
                rowstr += "<div style=\"min-height:110px;\">" +
                "<div style=\"float:left;padding-top:0.3cm;\"><img width=\"50\" height=\"50\" src=\"" + e.act.pic_url + "\"></div>" +
                "<div style=\"padding-left:1.5cm;\">" +
                    "<hr style=\"margin-bottom:0.1cm;\"/>";
                if (e.act.what == "follow") {
                    console.log("follow:" + e.act.username);
                    rowstr += "<span style=\"font-size:small;\">" +
                    "<a href=\"/" + context + "/profile/?u=" + e.act.pk + "\"> " + e.act.username + " </a>" +
                    "is now following <a href=\"/" + context + "/profile/" + e.user.pk + "/\">" + e.user.username + "</a>" +
                    "<span style=\"color:#999;font-size:x-small;float:right;\">   " + e.act.when  + "</span> </span>" +
                    "<div style=\"margin-top:10px;\">" +
                    "<img width=\"60\" height=\"60\" src=\"" + e.user.pic_url + "\"/>"; 
                    <!--rowstr +=  "<span style=\"font-size:small;\">" + e.user.username + "'s previous recommendations:"; -->
                    rowstr +=  "<span style=\"font-size:small;\"> <b> Recommends: </b>" 
                    for(var j=0; j < e.items.length; j++){
                       rowstr +=  "<img width=\"50\" height=\"60\" src=\"http://upload.wikimedia.org/wikipedia/en/c/c1/The_Matrix_Poster.jpg\"/> ";
                    }
                   rowstr += "</span> </div> </div> ";
                }
                else if (e.act.what == "rate") {
                    rowstr += "<span style=\"font-size:small;\">" +
                    "<a href=\"/" + context + "/profile/?u=" + e.act.pk + "\"> " + e.act.username + " </a>" +
                    "rated " + e.item.rating +  " <span style=\"float:right;\">Prediction for you: " + e.item.pre  + "" + 
                    "<span style=\"color:#999;font-size:x-small;float:right;\">" + e.act.when  + "</span> </span>" +
                    "</span>" +
                    "<div style=\"margin-top:10px;\">" +
                        "<span style=\"font-size:small;\">" +
                            "<a href=\"/" + context + "/detail/" + e.item.pk + "/\">" + e.item.name + " (" + e.item.year + ") </a>" +
                        "</span>" +
                        "<br>" +
                        "<div>" +
                        "<img style=\"float:left;\" width=\"60\" height=\"60\" src=\"http://goo.gl/xPV6y\"/>" +
                        "<div style=\"font-size:small;margin-left:2cm;\"> A teenager is accidentally sent 30 years into the past" +
                        "in a time-traveling DeLorean invented by his friend, Dr. Emmett Brown, and must make sure his high-school-age parents unite" +
                        "in order to save his own existence.</div>" +
                        "</div> </div> </div>";
                    }
                else if (e.act.what == "recommend") {
                        rownstr += "<span style=\"font-size:small;\">" +
                        "<a href=\"/" + context + "/profile/?u=" + e.act.pk + "\"> " + e.act.username + " </a>" +
                        "recommended <a href=\"/" + context + "/detail/" + e.item.pk + "/\">" + e.item.name + " (" + e.item.year + ") </a>" +
                        "<span style=\"color:#999;font-size:x-small;float:right;\">   " + e.act.when  + "</span> </span>";
                }
            }
            rowstr += "</div> </div>";
            <!--$('#main').append('<tr id="row">'+rowstr+'</tr>');-->
            $('#feed').append(rowstr);
            offset = offset + 10;
            $('#more_btn').val(offset);
        });
    }
    $(function(){
        more();
    });
</script>

<table id="main" >
</table>

<button id="more_btn" name="offset" value=0 onclick="more();" >more</button>

<!--{% for act, obj in tuples %}-->
<!--<div style="min-height:110px;">-->
<!--<div style="float:left;padding-top:0.3cm;"><img width="50" height="50" src="{{act.user.profile.pic_url}}"></div>-->
<!--<div style="padding-left:1.5cm;">-->
    <!--<hr style="margin-bottom:0.1cm;"/>-->
        <!--{% if act.what == 'rate' %}-->
        <!--<span style="font-size:small;">-->
        <!--<a href="/{{ context }}/profile/?u={{act.user_id}}">{{act.user.username}}</a>-->
        <!--rated {{ obj.rating }} <span style="float:right;">pre for you: {{ obj.pre }}-->
        <!--<span style="color:#999;font-size:x-small;">{{act.when|dthumanize}}</span></span>-->
        <!--</span>-->
        <!--<div style="margin-top:10px;">-->
            <!--<span style="font-size:small;">-->
                <!--<a href="/{{ context }}/detail/{{ obj.item.pk }}/">{{ obj.item.name }} ({{ obj.item.year }})</a>-->
            <!--</span>-->
            <!--<br>-->
            <!--<div>-->
            <!--<img style="float:left;" width="60" height="60" src="http://goo.gl/xPV6y"/>-->
            <!--<div style="font-size:x-small;margin-left:2cm;"> A teenager is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his friend, Dr. Emmett Brown, and must make sure his high-school-age parents unite in order to save his own existence.</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--{% elif act.what == 'follow' %}-->
        <!--<span style="font-size:small;">-->
        <!--<a href="/{{ context }}/profile/?u={{act.user_id}}">{{act.user.username}}</a>-->
        <!--is now following <a href="/{{ context }}/profile/{{ obj.user.pk }}/">{{ obj.user.username }}</a>-->
        <!--<span style="color:#999;font-size:x-small;float:right;">{{act.when|dthumanize}}</span>-->
        <!--</span>-->
        <!--<div style="margin-top:10px;">-->
            <!--<img width="60" height="60" src="{{ obj.user.profile.pic_url}}"/>-->
            <!--{% for item in obj.items %}-->
                <!--<img width="50" height="60" src="http://goo.gl/xPV6y"/>-->
            <!--{% endfor %}-->
        <!--</div>-->
        <!--{% elif act.what == 'recommend' %}-->
        <!--<span style="font-size:small;">-->
        <!--<a href="/{{ context }}/profile/?u={{act.user_id}}">{{act.user.username}}</a>-->
        <!--recommended <a href="/{{ context }}/detail/{{ obj.pk }}/">{{ obj.name }}</a>-->
        <!--<span style="color:#999;font-size:x-small;">{{act.when|dthumanize}}</span>-->
        <!--</span>-->
        <!--{% endif %}-->
<!--</div>-->
<!--</div>-->
<!--{% endfor %}-->
</div>
{%if fusers %}
<div id="right" style="float:right">
<table>
  {% for u in fusers %}
  <tr><td><img width="30px" height="60px" src="{{u.profile.pic_url}}"/></td><td><a href="/{{ context }}/profile/?u={{u.pk}}">{{u.username}}</a></td>
      <td><div id="followbutton{{u.pk}}"><button onclick="$('#followbutton{{u.pk}}').load('/{{ context }}/follow/?user={{u.pk}}');">Follow</button></div></td></tr>
  {% endfor %}
</table>
</div>
{%endif%}
{% endblock %}
