{% extends context|add:"/base.html" %}
{% load staticfiles %}

{% block body %}
<script>
    function comments(itemid){
        $('#comments'+itemid).load('/{{context}}/home/comments/?itemid='+itemid);
    }
    function addcomment(itemid){
        $.get('/{{context}}/home/comments/?itemid='+itemid+'&'+$('#commentform'+itemid).serialize(),function(res){
            $('#comments'+itemid).html(res);
        });
    }
</script>
<div style="margin-left:100px;max-width:920px;">
    <br>
    <div style="float:left">
        <img class="detail_img_item" style="float:left;" title="row.0.name" src="{% static "item-imgs/" %}{{row.0.id}}.jpg"/>
        <div style="margin-left:6cm;max-width:500px;min-height:317px">
        <div style="min-height:270px">
            <span style="font-size:large;font-weight:lighter;">
            <span style="color:#0088cc">{{ item.name }}</span> ({{ item.year }})
            </span>
            <div style="margin-bottom:0.7cm">
            <div style="float:left;">
            {% if pred != 0 and pred %}
                Prediction for you: {{pred}}
            {% endif %}
            </br>
            </br>
            {% include context|add:"/rating.html" %} 
            </div>
            <div style="float:right;padding:3px">ratingc:{{ratingc}} reviewc:{{reviewc}}</div>
        </div>
        <hr style="margin-top:5px;margin-bottom:5px"/>
        </br>
        </br>
        <span style="font-size:small"><a href="http://www.imdb.com/title/tt{{item.id}}">IMDb sayfasına git</a></span><br>
        <hr style="margin-top:5px;margin-bottom:5px"/>
        <p>Director: Steven Spielberg</p>
        <p>Writers: Michael Crichton (novel), Michael Crichton (screenplay)</p>
        <p>Stars: Sam Neill, Laura Dern, Jeff Goldblum</p>
        </div>
        <button class="btn btn-primary">Watch Later</button>
        <button class="btn btn-primary">Share</button>
        </div>
    </div>
    <div style="max-width:180px;float:right;margin-top:3px;">
    <h3>Similar Movies</h3>
    {% for item in sim_items %}
        <a href="/{{ context }}/detail/{{ item.pk }}/">
        <img class="similar_img_item" title="{{item.name}} "src="{% static "item-imgs/" %}{{item.id}}.jpg"/></a>
    {% endfor %}
    </div>

    <div style="min-width:727px;float:left;" id="comments{{item.pk}}">
    <h3>Reviews</h3>
    <div id="comments{{item.pk}}">
    {% include context|add:"/item_comments.html" %}
    </div>
    </div>
</div>

{% endblock %}


