{% extends context|add:"/base.html" %}

{% block body %}

<div>
    <div style="min-width:100%; min-height:27px"> 
        <div style="float:left;">
            <span style="font-size:xx-large;font-style:italic;">
                {{ auser.username }}, 
            </span>
            <span style="font-size:large;font-style:italic;">
                Software Engineer @ EniyiTavsiye.com, Istanbul, Turkey
            </span>
        </div>
        <div style="float:right">
            {%if auser != user %}
                <div id="followbutton{{auser.pk}}" style="float:right;">
                    {% include context|add:"/following.html" %}
                </div>
            {% endif %}
        </div>
    </div>
    <hr style="margin:3px"/>
    <div id="userprop" style="float:left; width:15%; height:%100;">
        <img width="170px" height="150px" src="{{auser.profile.pic_url}}"/>
            </br>
            </br>
            <span style="font-size:small;">
            <a href="">Rated Movies {{ rows|length }}</a> 
            </span>
            </br>
            {% for row in rows|slice:":12" %}
                <a data-ajax="/{{context}}/item_popover/?item={{row.0.pk}}" 
                onmouseout="$('#thepopup').hide();" onmouseover="popup(this);" 
                href=""><img width="25px" 
                src="{{ row.0.img }}"/></a>
            {% endfor %}
            </br>
            </br>
            <span style="font-size:small;">
            <a href="#">Followings {{ followees|length }}</a> 
            </span>
            </br>
                {% for followee in followees %}
                <a data-ajax="/{{context}}/user_popover/?user={{followee.pk}}" 
                onmouseout="$('#thepopup').hide();" onmouseover="popup(this);" 
                href="?u={{followee.pk}}"><img width="30px" 
                src="{{ followee.profile.pic_url }}"/></a>
                {% endfor %}
            </br>
            </br>
            <span style="font-size:small;">
            <a href="#">Followers {{ followees|length }}</a> 
            </span>
            </br>
                {% for followee in followees %}
                <a data-ajax="/{{context}}/user_popover/?user={{followee.pk}}" 
                onmouseout="$('#thepopup').hide();" onmouseover="popup(this);" 
                href="#"><img width="30px" 
                src="{{ followee.profile.pic_url }}"/></a>
                {% endfor %}
            </br>
            </br>
            <span style="font-size:small;">
            <a href="#">Reviews {{ followees|length }}</a> 
            </span>
    </div>

    <div style="margin-left:15px; float:left; width:60%">
        <span style="font-size:large;font-style:italic;">
            <center>
                Recent Actions
            </center>
        </span>
        <hr style="margin:3px"/>
    </div>
    <div style="float:right; width:20%; height:100%">
        <div>
            <span style="font-style:italic;">
                <center> 
                Similar Users
                </center> 
            <hr style="margin:3px"/>
            </span>
            {% for u in sim_users %}
                <a data-ajax="/{{context}}/user_popover/?user={{u.pk}}" 
                onmouseout="$('#thepopup').hide();" onmouseover="popup(this);" 
                href="?u={{u.pk}}"><img width="50px" 
                src="{{ u.profile.pic_url }}"/></a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
