{% extends context|add:"/base.html" %}
{% load staticfiles %}
{% block body %}
</br>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-button.js"></script>

<!--Number of movies : {{ rows|length }}-->
<table>

<colgroup>
<col span="1" style="width: 10%;">
<col span="1" style="width: 15%;">
<col span="1" style="width: 10%;">
<col span="1" style="width: 20%;">
<!--<col span="1" style="width: 45%;">-->
</colgroup>
{% for row in rows %}
<tr id="row{{row.0.pk}}">
    <!--<td> <img width="50px" height="100px" src="{{row.0.img}}"/>  </td>-->
    <td> <img class="feed_img_item" src="{% static "item-imgs/" %}{{row.0.id}}.jpg" itemprop="image"> </td>
    <td align="left" style="padding:0 15px 0 15px">  <a href="/{{ context }}/detail/{{row.0.pk}}">{{row.0.name}} ({{row.0.year}}) </a> </br> </br>

    <span style="font-size:small"> 
    <b> Genres: </b>{{row.0.get_genres}} 
    </span>
    </td>
    <td>
    {% include context|add:"/rating.html" %}
    </td>
    <td align="left" style="padding:0 15px 0 15px"> 
    <span style="font-size:small"> 
    <b> Director: </b> {{ row.0.director }} </br>
    <b> Stars:</b> {{row.0.get_stars}} </span>
    </td>
    <!--<td align="left"> -->
    <!--<span style="font-size:small"> -->
    <!--{{ row.0.description }} -->
    <!--</span>-->
    <!--</td>-->

</tr>
{% endfor %}
</table>
{% endblock %}
