{% extends context|add:"/base.html" %}
{% load extras %}
{% block body %}
<div id="feed" style="float:left;max-width:50%;margin-left:5cm;">
{% include context|add:"/home_more.html" %}
</div>
<script>
    function homemore(b,noffset){
        $(b).addClass('disabled');
        $(b).attr('disabled','disabled');
        $(b).html('loading...');
        $.get('{{context}}/home/more/?offset='+noffset,function(res){
            $('#feed').append(res);
            $(b).remove();
        });
    }
</script>
{%if fusers %}
<div id="right" style="float:right;margin-right:2cm;">
<table>
    <caption>Benzerlerin</caption>
  {% for u in fusers %}
  <tr><td><img width="30px" height="60px" src="{{u.profile.pic_url}}"/></td><td><a data-ajax="/{{context}}/user_popover/?user={{u.pk}}" onmouseout="cpopup(this);" onmouseover="bpopup(this);" href=""> {{ u.username }}</a></td>
      </tr>
  {% endfor %}
</table>
</div>
{%endif%}
{% endblock %}
