{% extends context|add:"/base.html" %}
{% block body %}
</br>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-button.js"></script>

Number of movies : {{ rows|length }}
<table>
{% for row in rows %}
<tr id="row{{row.0.pk}}">
    <td> <img width="50px" height="100px" src="{{row.0.img}}"/>  </td>
    <td align="center">  <a href="/{{ context }}/detail/{{row.0.pk}}">{{row.0.name}}</a> </td>
    <td>
    {% include context|add:"/rating.html" %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}


  <!--
  -->
