{% extends "based.html" %}
{% load i18n %}
{% block title %} En İyi Tavsiye - {% trans "Register Now" %} {% endblock %}
{% block body %}

<h1>{% trans "Registration Form" %}</h1>
<br/>

<form method="POST" action="/accounts/register/">
<!--<form method="POST" action="/login/">-->
{% csrf_token %}

{{ form }}


<script>
  
window.fbAsyncInit = function() {
  FB.init({
    appId      : '609679559063513', // App ID
    channelUrl : 'http://54.246.114.38/experimental/home/', // Channel File
    status     : true, // check login status
    cookie     : true, // enable cookies to allow the server to access the session
    xfbml      : true  // parse XFBML
  });


  // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
  // for any authentication related change, such as login, logout or session refresh. This means that
  // whenever someone who was previously logged out tries to log in again, the correct case below 
  // will be handled. 
  FB.Event.subscribe('auth.authResponseChange', function(response) {
 
    if (response.status === 'connected' ) {
      // The response object is returned with a status field that lets the app know the current
      // login status of the person. In this case, we're handling the situation where they 
      // have logged in to the app.
      FB.logout();
}}

);
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

   
 </script>

<input type="submit" value="submit" />
</form>

{% endblock %}
