{% extends "based.html" %}
{% load i18n %}
{% block title %} En İyi Tavsiye - {% trans "Register Now" %} {% endblock %}
{% block body %}

<h1>{% trans "Update User" %}</h1>
<br/>

<form method="POST" action="">
<!--<form method="POST" action="/login/">-->
{% csrf_token %}

{{ form }}
<div>
<tr>
    <input type="submit" value="Update" />
</tr>
</div>

{% if messages  %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

</form>

{% endblock %}
