{% extends "based.html" %}
{% load i18n %}
{% block title %} En İyi Tavsiye - {% trans "User Login" %} {% endblock %}
{% block body %}


{% if error_message %}
   {{ error_message }} </br> </br>
{% endif %}

{% trans "Please enter your username and password" %}


<form action="/login/" method="POST" id='postForm'>
    {% csrf_token %}
    <input type="text" name="username" id="username" />
    <input type="password" name="password1" id="password1" />
    <!--<input type="hidden" name="next" value="/movie/myratings/" />-->
    <input type="hidden" name="fblogin" id="fblogin" /> 
    <input type="hidden" name="email" id="email" />

    <input type="submit" value={% trans "login" %} />



<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '609679559063513', // App ID
    channelUrl : 'http://54.246.114.38', // Channel File
    status     : true , // t check login staeus
    cookie     : false, // enable cookies to allow the server to access the session
    xfbml      : true, // parse XFBML
    oauth      : true
  });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    alert(response.email);
    if(response.status === 'connected' && window.location.href.indexOf("logout=1")!=-1 )
    {
        FB.logout();
    }
    else if(window.location.href.indexOf("logout=1")!=-1)
    {
        window.location.href="/";
    }
    else  if (response.status === 'connected' ) {
      getCurrentUserInfo(response); 
    } else {
        alert("resp");
         FB.login(function(response) {
	 console.log("res"+ response);
         if (response.authResponse){
             alert(response.email);
            getCurrentUserInfo(response);
          } else {
            console.log('Auth cancelled.');
          }
      }, { scope: 'email' });  

  }
});
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  // Here we run a very simple test of the Graph API after login is successful. 
  // This testAPI() function is only called in those cases. 
  function getCurrentUserInfo(response) {
    console.log('Welcome!  Fetching your information.... ');
var formElem = document.getElementById('postForm');
    
    
    FB.api('/me?fields=name,email,username', function(response) {
      console.log('Good to see you, ' + response.name + '.');

     
     formElem.username.value = response.username; 
     formElem.fblogin.value = "1";
     console.log(response);
     formElem.password1.value="1234"; 
     formElem.email.value= response.username;
     formElem.submit(); 

    
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked.

  Learn more about options for the login button plugin:
  /docs/reference/plugins/login/ -->
<div>
<tr> 
	<fb:login-button show-faces="true"  scope  = "email"  width="200" max-rows="1" ></fb:login-button>
</tr>
</div>
</form>
{% endblock %}
