img.gray-star
{
    width:16px;
    height:16px;
    /*background:url(star.gif) 0 48;*/
    background:url('gray.gif');
}
img.yellow-star
{
    width:16px;
    height:16px;
    background:url('yellow.gif');
}
img.delete-btn
{
    width:16px;
    height:16px;
    background:url('delete.gif');
}

img.home_img_item {
    height: 140px;
    width: 100px;
}

img.feed_img_item {
    height: 140px;
    width: 100px;
}

img.small_img_item {
    height: 35px;
    width: 25px;
}

img.similar_img_item {
    height: 80px;
    width: 50px;
}

img.detail_img_item {
    height: 280px;
    width: 200px;
}

tr.space_under > td
{
      padding-bottom: 1em;
}
