img.gray-star
{
    width:16px;
    height:16px;
    background:url(star.gif)  0px 0px;
}
img.yellow-star
{
    width:16px;
    height:16px;
    background:url(star.gif) 0px -32px;
}
img.delete-btn
{
    width:16px;
    height:16px;
    background:url(delete.gif) 0px 16px;
}

